<ngx-alerts></ngx-alerts>
<div class="col-md-6 col-md-offset-3 psw-request">
  <h2>
{{'reset-psw' | translate}}
  </h2>
  <form [formGroup]="ResetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 form-group">
      <input formControlName="password_1" id="password_1" type="password" class="validate form-control" [ngClass]="{ 'is-invalid': submitted && (f.password_1.invalid || f.password_1 != f.password_2) }"
        minlength="6" placeholder="{{'psw' | translate}} :">
      <div *ngIf="submitted && f.password_1.errors" class="invalid-feedback">
        <div *ngIf="f.password_1.errors.required">Mot de passe requis</div>
        <div *ngIf="f.password_1.errors.minlength">Le mot de passe doit contenir au moins 6 caractères</div>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 form-group">
      <input formControlName="password_2" id="password_2" type="password" class="validate form-control" [ngClass]="{ 'is-invalid': submitted && (f.password_2.invalid || f.password_2 != f.password_1) }"
        minlength="6" placeholder="{{'psw-confirm' | translate}} :">
      <div *ngIf="submitted && f.password_2.errors" class="invalid-feedback">
        <div *ngIf="f.password_1 != f.password_2">
          Les deux mots de passe ne sont pas identiques
        </div>
      </div>
    </div>
    <div>
      <button class="btn btn-primary center-block" type="submit" [ngClass]="{'button-loader button-loader--loading' : loading}">{{'save' | translate}}</button>
    </div>
  </form>
</div>
