h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;


}

form {
  display: flex;
  flex-direction: column;
}

/*iPad*/
@media only screen and (height: 1024px) and (width: 768px) {
  .psw-request {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    margin-top: -10%;

  }
}

/*iPad PRO*/
@media only screen and (height: 1366px) and (width: 1024px) {
  .psw-request {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    margin-top: -10%;

  }
}

/*iPhone 5/SE*/
@media only screen and (height: 568px) and (width: 320px) {
  .psw-request {

    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 20%;

  }

  h2 {
    margin-top: 30% !important;
    font-size: 1em !important
  }
}

@media (max-width: 600px) {
  h2 {
    margin-top: 40% !important;
    font-size: 1.5em !important
  }
}
