<div class="social-sidebar-buttons" >
    <a href="https://www.facebook.com/parprofrance/" target="_blank"><img src="../assets/img/facebook.png" id="facebook"></a>
    <a href="https://www.instagram.com/parprofrance/" target="_blank"><img src="../assets/img/instagram.png" id="instagram"></a>
    <a href="https://twitter.com/PARPRO5" target="_blank"><img src="../assets/img/twitter.png" id="twitter"></a>
    <a href="https://plus.google.com/u/1/111097602649112300402" target="_blank"><img src="../assets/img/gmail.png" id="google"></a>
  </div>