.conditions-generale-ventes {
  margin-top: 20px;
  font-size: 14px;
  text-align: justify;
}

.larger-size {
  font-size: 14px;
}

.parpro {
  text-decoration: none;
}

#compte-pro-cgu {
  text-decoration: none;
}
.part1 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10%;
}

.entry-title {
  margin-bottom: 5%;
  text-align: center;
}
p{
  font-size:15px;
}