.psw-request {
  text-align: center;

}

h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;

}

.container {
  text-align: center;
  margin-top: 50px;
}
/*iPad*/
@media only screen and (height: 1024px) and (width: 768px) {
  .psw-request {
    text-align: center;
    margin-top:-15%
  }
  form{
    display: flex;
    flex-direction: column;
    margin-left:30%;
    margin-top:5%
  }
}
/*iPad PRO*/
@media only screen and (height: 1366px) and (width: 1024px) {
  .psw-request {
    text-align: center;
    margin-top:-10%
  }
  .form-group{
    width:100%
  }
  form{
    display: flex;
    flex-direction: column;
    margin-left:5%;
    margin-top:10%
  }
  .bouton{
    margin-left:7%
  }
}
@media (max-width: 600px){
  .psw-request{
    margin-top:40% !important
  }
}