<ngx-alerts></ngx-alerts>
<div class="col-md-4 col-md-offset-4 psw-request">
  <h2>
  {{'request-psw'| translate}}
  </h2>
  <form [formGroup]="RequestPasswordForm" (ngSubmit)="onSubmit()">
    <div class="col-md-12 col-sm-6 col-xs-12 form-group">
      <input formControlName="email" id="email" type="email" class="validate form-control" placeholder="{{'email' | translate}}"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">E-mail requis</div>
        <div *ngIf="f.email.errors.pattern">La forme de l'email est invalide</div>
      </div>
    </div><br>
    <div class="col-md-12 col-sm-6 col-xs-12 bouton">
      <button class="btn btn-primary center-block" type="submit" [ngClass]="{'button-loader button-loader--loading' : loading}">{{'send-link'| translate}}</button>
    </div>
  </form>
</div>

