<h1 class="entry-title"><span class=part1>Conditions générales d'utilisation</span></h1>


<div class="conditions-generale-utilisations">
  <p class="larger-size">
    <strong>Définitions :</strong>
  </p>
  <p>
    <strong><u></u></strong>
  </p>
  <p>
    SAS PARPRO FRANCE est le propriétaire du site PARPRO et exploitant les
    services de PARPRO.
  </p>
  <p>
    <strong></strong>
  </p>
  <p>
    <strong></strong>
  </p>
  <p>
    <strong>PARPRO : </strong>
    désigne le site internet<strong> </strong> www.parpro.fr
  </p>
  <p>
    <strong></strong>
  </p>
  <p>
    <strong>Utilisateur : </strong>
    désigne toute personne physique ou morale qui utilise le site PARPRO et
    accède aux services proposés par PARPRO.
  </p>
  <p>
    <strong></strong>
  </p>
  <p>
    <strong>Particulier : </strong>
    désigne toute personne physique ou morale inscrite sur le site PARPRO qui
    dépose une ou plusieurs demandes sur le site PARPRO à fin de trouver un
    professionnel.
  </p>
  <p>
    <strong></strong>
  </p>
  <p>
    <strong>Professionnel : </strong>
    désigne toute personne physique ou morale inscrite sur le site PARPRO qui
    propose des prestations de services aux particuliers.
  </p>
  <p>
    <strong></strong>
  </p>
  <p>
    <strong>Demande : </strong>
    désigne les prestations de services que le particulier souhaite faire
    réaliser par des professionnels via le site PARPRO.
  </p>
  <p>
    <strong></strong>
  </p>
  <p>
    <strong>Profil : </strong>
    désigne toutes les informations mises en ligne par les professionnels sur le
    site PARPRO.
  </p>
  <p>
    <strong>Compte professionnel :</strong>

    <a id="compte-pro-cgu" name="__DdeLink__1323_937429236">
      désigne un espace personnel créé par le professionnel sur le site
      PARPRO pour bénéficier des services de PARPRO
    </a>
  </p>
  <p>
    <strong>Compte particulier :</strong>
    désigne un espace personnel créé par le particulier sur le site PARPRO
    pour bénéficier des services de PARPRO
  </p>
  <p class="larger-size">
    <strong>Objet :</strong>
  </p>
  <p>
    <strong><u></u></strong>
  </p>
  <p>
    Les présentes conditions générales d'utilisation ont pour objet
    l'encadrement juridique des modalités de mise à disposition des services du
    site PARPRO et son utilisation.
  </p>
  <p>
    Les conditions générales d'utilisation doivent être acceptées par tout
    utilisateur souhaitant accéder au site. Elles constituent le contrat entre
    le site et l'utilisateur. L’accès au site par l’utilisateur signifie son
    acceptation des présentes conditions générales d’utilisation.
  </p>
  <p>
    Éventuellement :
  </p>
  <p>
    En cas de non-acceptation des conditions générales d'utilisation stipulées
    dans le présent contrat, l'utilisateur se doit de renoncer à l'accès des
    services proposés par le site.
  </p>
  <p>
    PARPRO se réserve le droit de modifier unilatéralement et à tout moment le
    contenu des présentes conditions générales d'utilisation
  </p>

  <p>
    <strong> </strong>
    <strong></strong>
  </p>
  <p class="larger-size">
    <strong>Accès aux services :</strong>
  </p>
  <p>
    Le site permet à l'utilisateur un accès gratuit aux services suivants :
  </p>
  <p>
    Le site est accessible gratuitement en tout lieu à tout utilisateur ayant
    un accès à Internet. Tous les frais supportés par l'utilisateur pour
    accéder au service (matériel informatique, logiciels, connexion Internet,
    etc.) sont à sa charge.
  </p>
  <p>
    Selon le cas :
  </p>
  <p>
    L’utilisateur non inscrit n'a pas accès aux services réservés aux
    utilisateurs inscrits. Pour cela, il doit s'identifier à l'aide de son
    identifiant et de son mot de passe.
  </p>
  <p>
    Le site met en œuvre tous les moyens mis à sa disposition pour assurer un
    accès de qualité à ses services. L'obligation étant de moyens, le site ne
    s'engage pas à atteindre ce résultat.
  </p>
  <p>
    Tout événement dû à un cas de force majeure ayant pour conséquence un
    dysfonctionnement du réseau ou du serveur n'engage pas la responsabilité de
    PARPRO.
  </p>
  <p>
    L'accès aux services du site peut à tout moment faire l'objet d'une
    interruption, d'une suspension, d'une modification sans préavis pour une
    maintenance ou pour tout autre cas. L'utilisateur s'oblige à ne réclamer
    aucune indemnisation suite à l'interruption, à la suspension ou à la
    modification du présent contrat.
  </p>
  <p>
    L'utilisateur a la possibilité de contacter le site par messagerie
    électronique à l’adresse <a href="mailto:info@parpro.fr">info@parpro.fr</a>
    .
  </p>
  <p>
    <strong>Description générale du service :</strong>
  </p>
  <p>
    <a class="parpro" name="__DdeLink__936_1447683472">PARPRO</a>
    propose le service d'intermédiation mettant en contact direct les
    professionnels avec les particuliers.
  </p>
  <p>
    PARPRO propose aux particuliers de déposer des demandes de prestations de
    services gratuitement sur le site PARPRO, les professionnels intéressés par
    une demande se mettent ensuite directement en contact avec le particulier
    pour lui proposer de réaliser la ou les prestations de services demandées.
  </p>
  <p>
    Le particulier peut être contacté par zéro à cinq professionnels maximum.
    En aucun cas la responsabilité de PARPRO ne peut être recherchée pour tout
    litige relatif à l’éventuelle poursuite de la relation entre un particulier
    et un professionnel.
  </p>
  <p>
    Le service de mise en relation proposé par PARPRO est entièrement gratuit
    pour les particuliers. La rémunération de PARPRO provient uniquement des
    services payants des professionnels, PARPRO ne prends aucune commission sur
    le montant des prestations réalisées par les professionnels.
  </p>
  <p>
    <strong></strong>
  </p>
  <p class="larger-size">
    <strong>Vos données d'accès aux services :</strong>
  </p>
  <p>
    • Vous ne devez pas transmettre vos données d'accès à des tiers.
  </p>
  <p>
    • Choisissez avec votre nom d'utilisateur le mot de passe le plus sécurisé
    possible.
  </p>
  <p>
    • Veuillez prendre les mesures nécessaires pour protéger votre mot de passe
    contre toute utilisation non autorisée. Merci de ne révéler votre mot de
    passe à personne. Notre personnel ne vous demandera pas votre mot de passe.
  </p>
  <p>
    • Veuillez informer immédiatement notre service clientèle si vous avez
    l'impression que des tiers utilisent vos données d'accès sans autorisation.
    Si l'on soupçonne raisonnablement que vos données d'accès sont utilisées
    par des tiers, nous pouvons prendre les mesures nécessaires et, en
    particulier, suspendre ou fermer temporairement l'accès.
  </p>
  <p>
    <strong></strong>
  </p>
  <p class="larger-size">
    <strong>Engagements des particuliers :</strong>
  </p>
  <p>
    Le particulier s'engage à :
  </p>
  <p>
    • Fournir des informations exactes.
  </p>
  <p>
    • Crée un seul compte
  </p>
  <p>
    • Informer PARPRO de toute modification concernant sa demande
  </p>
  <p>
    • Déposer une demande seulement pour un réel besoin
  </p>
  <p>
    Toute demande incomplète ou contenant des fausses informations sera
    systématiquement supprimée par PARPRO.
  </p>
  <p>
    Le particulier reconnait voir sa responsabilité engagée à l’égard de PARPRO
    ou de tout professionnel en cas de fourniture des fausses informations dans
    le cadre de sa demande. Le particulier assume l’entière responsabilité à
    cet égard.
  </p>
  <p>
    <strong></strong>
  </p>
  <p class="larger-size">
    <strong>Engagements des professionnels :</strong>
  </p>
  <p>
    <strong></strong>
  </p>
  <p>
    Le professionnel s'engage à :
  </p>
  <p>
    • Etre inscrit au Registre du Commerce ou à la Chambre de Métiers
  </p>
  <p>
    • Etre et rester à jour de ses assurances obligatoires
  </p>
  <p>
    • Respecter la législation fiscale et sociale
  </p>
  <p>
    • Répondre aux demandes dans un délai de 3 jours
  </p>
  <p>
    • Réaliser des devis gratuits
  </p>
  <p>
    • Respecter la réglementation et les normes en vigueur
  </p>
  <p>
    • Effectuer et assurer des prestations et des services de qualité
  </p>
  <p>
    • Ne pas être marqué d’une interdiction de gérance
  </p>
  <p>
    PARPRO interdit tout professionnel de rechercher des autres professionnels
    afin de demander une sous-traitance des prestations dont ils possèdent la
    charge.
  </p>
  <p>
    PARPRO ne pourrait en aucun cas être tenue pour responsable en cas de
    manquement à l’un quelconque de ses engagements, le professionnel est
    responsable des informations qu'il diffuse sur son compte professionnel.
  </p>
  <p>
    <strong></strong>
  </p>
  <p class="larger-size">
    <strong>Profil professionnel :</strong>
  </p>
  <p>
    <strong></strong>
  </p>
  <p>
    En tant que professionnel, nous vous offrons la possibilité de vous
    présenter et de présenter votre entreprise. Vous pouvez également définir
    des ordres en tant que principal. Pour cela, vous pouvez intégrer des
    données, des textes et des images.
  </p>
  <p>
    Nous ne revendiquons aucun droit d'utilisation ou d'exploitation de votre
    contenu.
  </p>
  <p>
    Pour tout contenu que vous soumettez ou rendez accessible via nos services,
    vous devez avoir les droits nécessaires. Veuillez vérifier si vous disposez
    des droits nécessaires avant de publier du contenu.
  </p>
  <p>
    Nous sommes en droit de bloquer le contenu que vous avez défini s'il existe
    un soupçon raisonnable que ce contenu enfreint les dispositions légales ou
    les présentes conditions générales ou enfreint les droits de tiers. Un
    soupçon raisonnable existe, en particulier, si vous êtes poursuivi pour un
    contenu que vous avez posté. Nous pouvons maintenir le blocage jusqu'à ce
    que les soupçons soient dissipés. Nous nous réservons le droit de vérifier
    le contenu que vous entrez dans les zones accessibles au public avant
    l'activation et, si nécessaire, de le refuser.
  </p>
  <p class="larger-size">
    <strong>Propriété intellectuelle :</strong>
  </p>
  <p>
    Les marques, logos, signes et tout autre contenu du site font l'objet d'une
    protection par le code de la propriété intellectuelle et plus
    particulièrement par le droit d'auteur.
  </p>
  <p>
    L'utilisateur sollicite l'autorisation préalable du site pour toute
    reproduction, publication, copie des différents contenus.
  </p>
  <p>
    L'utilisateur s'engage à une utilisation des contenus du site dans un cadre
    strictement privé. Une utilisation des contenus à des fins commerciales est
    strictement interdite.
  </p>
  <p>
    Tout contenu mis en ligne par l'utilisateur est de sa seule responsabilité.
    L'utilisateur s'engage à ne pas mettre en ligne de contenus pouvant porter
    atteinte aux intérêts de tierces personnes. Tout recours en justice engagé
    par un tiers lésé contre le site sera pris en charge par l'utilisateur.
  </p>
  <p>
    Le contenu de l'utilisateur peut être à tout moment et pour n'importe
    quelle raison supprimé ou modifié par le site. L'utilisateur ne reçoit
    aucune justification et notification préalablement à la suppression ou à la
    modification du contenu utilisateur.
  </p>
  <p>
    <strong></strong>
  </p>
  <p class="larger-size">
    <strong>Engagements et responsabilité de PARPRO :</strong>
  </p>
  <p>
    <strong></strong>
  </p>
  <p>
    <strong></strong>
  </p>
  <p>
    La seule obligation souscrite par PARPRO est la mise en relation directe
    entre le particulier avec le professionnel. PARPRO n’intervient pas dans
    les négociations menées par la suite entre le particulier et le
    professionnel.
  </p>
  <p>
    PARPRO ne pourra en aucun cas être tenue pour responsable des différends
    qui pourraient survenir entre les deux parties, le service de PARPRO prend
    fin automatiquement une fois le contact effectué entre le professionnel et
    le particulier. Le particulier assume seul les suites de la mise en
    relation, il devra prendre toutes les précautions nécessaires avant de
    signer le bon de commande avec le professionnel.
  </p>
  <p>
    PARPRO décline toute responsabilité civile et/ou pénale quant aux
    conséquences directes et indirectes de sa mise en relation entre
    particuliers et professionnels.
  </p>
  <p>
    PARPRO ne pourra en aucun cas être tenue pour responsable en raison d’une
    interruption des services quel que soit la cause, la durée ou la fréquence
    de cette interruption.
  </p>
  <p>
    La responsabilité de PARPRO ne peut pas être recherchée pour des actes
    réalisés par l’utilisateur utilisant les services.
    <br />
    <br />
  </p>
  <p>
    PARPRO s'engage à :
  </p>
  <p>
    Sélectionner des professionnels en toute indépendance et dans un esprit de
    neutralité.
  </p>
  <p>
    Proposer son service gratuitement aux utilisateurs et ne pas percevoir
    aucune commission sur le montant des prestations.
  </p>
  <p>
    Transmettre une même demande qu’à cinq professionnels maximum.
  </p>
  <p>
    Requalifier les demandes et vérifier les informations fournies par le
    particulier sans pouvoir garantir le sérieux de la demande ni la véracité
    des informations fournies. En conséquence, la responsabilité de PARPRO ne
    saurait en aucun cas être engagée pour ce qui concerne la pertinence et la
    qualité des demandes transmis aux professionnels.
  </p>
  <p>
    Tout mettre en œuvre pour trouver le plus rapidement possible un ou
    plusieurs professionnels pouvant répondre à la demande de particulier.
    PARPRO ne pourra être tenu pour responsable des éventuels désagréments ou
    dommages occasionnés par le fait qu’aucun professionnel n’ait été trouvé
    pour répondre à une demande.
  </p>
  <p class="larger-size">
    <strong>Responsabilité et force majeure :</strong>
  </p>
  <p>
    Les sources des informations diffusées sur le site sont réputées fiables.
    Toutefois, le site se réserve la faculté d'une non-garantie de la fiabilité
    des sources. Les informations données sur le site le sont à titre purement
    informatif. Ainsi, l'utilisateur assume seul l'entière responsabilité de
    l'utilisation des informations et contenus du présent site.
  </p>
  <p>
    L'utilisateur s'assure de garder son mot de passe secret. Toute divulgation
    du mot de passe, quelle que soit sa forme, est interdite.
  </p>
  <p>
    L'utilisateur assume les risques liés à l'utilisation de son identifiant et
    mot de passe.
  </p>
  <p>
    Le site décline toute responsabilité.
  </p>
  <p>
    Tout usage du service par l'utilisateur ayant directement ou indirectement
    pour conséquence des dommages doit faire l'objet d'une indemnisation au
    profit du site.
  </p>
  <p>
    Une garantie optimale de la sécurité et de la confidentialité des données
    transmises n'est pas assurée par le site. Toutefois, le site s'engage à
    mettre en œuvre tous les moyens nécessaires afin de garantir au mieux la
    sécurité et la confidentialité des données.
  </p>
  <p>
    La responsabilité du site ne peut être engagée en cas de force majeure ou
    du fait imprévisible et insurmontable d'un tiers.
  </p>
  <p class="larger-size">
    <strong>Évolution du contrat :</strong>
  </p>
  <p>
    Le site se réserve à tout moment le droit de modifier les clauses stipulées
    dans le présent contrat.
  </p>
  <p>
    La durée du présent contrat est indéterminée. Le contrat produit ses effets
    à l'égard de l'utilisateur à compter de l'utilisation du service.
  </p>
  <p class="larger-size">
    <strong>Données personnelles :</strong>
  </p>
  <p>
    Les informations collectées auprès des utilisateurs sont nécessaires et
    obligatoires et ont pour objectif la mise à disposition des services de
    PARPRO, leur amélioration et le maintien d'un environnement sécurisé.
  </p>
  <p>
    L'utilisateur dispose d'un droit d'accès, de rectification, de suppression
    et d'opposition de ses données personnelles en écrivant à l'adresse
    électronique suivante: dpo@parpro.fr
  </p>
  <p class="larger-size">
    <strong>Droit applicable et juridiction compétente :</strong>
  </p>
  <p>
    Les présentes conditions générales d'utilisation du site sont régies par la
    loi française et soumises à la compétence des tribunaux du siège social de
    l'éditeur, sous réserve d’une attribution de compétence spécifique
    découlant d'un texte de loi ou réglementaire particulier.
  </p>
</div>
