<div class="col-md-8 more-info-description">
  <h1 class="title-about-part">{{'particulier' | translate}}</h1>
  <h4 class="about-part">{{'savoir-plus-part-1' | translate}}</h4> <br>
  <p>
    {{'savoir-plus-part-2' | translate}} <br />
    {{'savoir-plus-part-3' | translate}}<br><br />
    {{'savoir-plus-part-4' | translate}}
    <br> </p>
  <p>
    {{'savoir-plus-part-5' | translate}}
    "{{'savoir-plus-part-6' | translate}}".<br>
  </p>

  <p>
    {{'savoir-plus-part-7' | translate}}<br />
    {{'savoir-plus-part-8' | translate}} <br /><br>
    {{'savoir-plus-part-9' | translate}}<br /><br>
    {{'savoir-plus-part-10' | translate}} <br>
  </p>
  <p>
    {{'savoir-plus-part-11' | translate}}
  </p>

  <p class="strong free-parpro">{{'savoir-plus-part-12' | translate}}</p>

  <a class="btn btn-primary btn-block" [routerLink]="['/demande/particulier']">{{'savoir-plus-part-13' | translate}}</a>
</div>
<div class="user-img hidden-xs hidden-sm"></div>
