
<h1 class="entry-title"><span class=part1>Politique de confidentialité</span></h1>

<div class="politique">
  <p id="apply">
      Applicable à compter du 25.05.2018
  </p><br>
  <p>
      Les données personnelles sont traitées de manière transparente,
      confidentielle et sécurisée.
  </p>
  <p>
      Ci-dessous PARPRO vous informe sur la manière claire et transparente de
      l'utilisation et la protection de vos données personnelles.
  </p>
  <p>
      PARPRO respecte l’ensemble des dispositions réglementaires et législatives
      françaises et européennes relatives à la protection des données
      personnelles.
      <br/>
      Les termes utilisés dans la présente Charte ont la même signification telle
      que définie les conditions générales d’utilisation et les conditions
      générales de vente.
      <br/>
      L’utilisation des services prodigués par PARPRO entraîne l’acceptation de
      la présente Charte.
  </p>
  <p class="larger-size">
      <strong>Données collectées : </strong>
  </p>
  <p>
      Les données à caractère personnel qui sont collectées sur ce site sont les
      suivantes :
  </p>
  <p>
      Création de compte : lors de la création du compte de l'utilisateur, son
      nom, prénom, civilité, adresse électronique, numéro de téléphone, adresse
      postale, langues parlées.
  </p>
  <p>
      Connexion : lors de la connexion de l'utilisateur au site PARPRO, celui-ci
      enregistre, notamment, ses nom, prénom, données de connexion.
  </p>
  <p>
      Profil : l'utilisation des prestations prévues sur le site PARPRO permet de
      renseigner un profil, pouvant comprendre : civilité, nom, prénom, adresse
      professionnelle et/ou postale, email, numéro de téléphone fixe/mobile,
      K-bis, SIRET/SIREN, profession, zone d’intervention, certifications, CV,
      photographie des chantiers… .
  </p>
  <p>
      Paiement : dans le cadre du paiement des prestations proposés sur le site
      PARPRO, celui-ci enregistre des données financières relatives au compte
      bancaire ou à la carte de crédit de l'utilisateur, notamment, RIB, relevé
      bancaire, numéro de carte bancaire.
  </p>
  <p class="larger-size">
      <strong>Utilisation des données personnelles :</strong>
  </p>
  <p>
      Les données personnelles collectées auprès des utilisateurs ont pour
      objectif la mise à disposition des services du site PARPRO, leur
      amélioration et le maintien d'un environnement sécurisé. Plus précisément,
      les utilisations sont les suivantes :
  </p>
  <p>
      - Accès et utilisation du site PARPRO par l'utilisateur ;
  </p>
  <p>
      - Gestion du fonctionnement et optimisation du site PARPRO ;
  </p>
  <p>
      - Effectuer les opérations relatives à la mission d’intermédiation ;
  </p>
  <p>
      - Vérification de la véracité des demandes et informations transmises ;
  </p>
  <p>
      - Exécution des obligations contractuelles ;
  </p>
  <p>
      - Organisation des conditions d'utilisation des services de paiement ;
  </p>
  <p>
      - Vérification, identification et authentification des données transmises
      par l'utilisateur ;
  </p>
  <p>
      - Proposition à l'utilisateur de la possibilité de communiquer avec
      d'autres utilisateurs du site PARPRO ;
  </p>
  <p>
      - Mise en œuvre d'une assistance utilisateurs ;
  </p>
  <p>
      - Personnalisation des services en affichant des publicités en fonction de
      l'historique de navigation de l'utilisateur, selon ses préférences ;
  </p>
  <p>
      - Prévention et détection des fraudes, malwares (malicious softwares ou
      logiciels malveillants) et gestion des incidents de sécurité ;
  </p>
  <p>
      - Gestion des éventuels litiges avec les utilisateurs ;
  </p>
  <p>
      - Envoi d'informations commerciales et publicitaires, en fonction des
      préférences de l'utilisateur.
  </p>
  <p class="larger-size">
      <strong>Partage des données personnelles avec des tiers :</strong>
  </p>
  <p>
      Les données personnelles peuvent être partagées avec des sociétés tierces,
      dans les cas suivants :
  </p>
  <p>
      - Quand l'utilisateur utilise les services de paiement, pour la mise en
      œuvre de ces services PARPRO est en relation avec des sociétés bancaires et
      financières tierces avec lesquelles elle a passé des contrats ;
  </p>
  <p>
      - Lors de la mise de contact avec un professionnel référencé sur notre
      site, vos données de contact sont transmises au professionnel concerné aux
      fins de finaliser la mise en relation. Le professionnel concerné est
      responsable de traitement des données qu’il collecte dans le cadre de la
      prise de rendez-vous.
  </p>
  <p>
      - Lorsque l'utilisateur publie, dans les zones de commentaires libres du
      site PARPRO, des informations accessibles au public ;
  </p>
  <p>
      - Quand l’utilisateur autorise le site PARPRO d'un tiers à accéder à ses
      données ;
  </p>
  <p>
      - Quand le site PARPRO recourt aux services de prestataires pour fournir
      l'assistance utilisateurs, la publicité et les services de paiement. Ces
      prestataires disposent d'un accès limité aux données de l’utilisateur, dans
      le cadre de l'exécution de ces prestations, et ont une obligation
      contractuelle de les utiliser en conformité avec les dispositions de la
      réglementation applicable en matière protection des données à caractère
      personnel ;
  </p>
  <p>
      - Si la loi l’exige, le site PARPRO peut effectuer la transmission de
      données pour donner suite aux réclamations présentées contre le site PARPRO
      et se conformer aux procédures administratives et judiciaires ;
  </p>
  <p>
      - Si le site PARPRO est impliqué dans une opération de fusion, acquisition,
      cession d'actifs ou procédure de redressement judiciaire, elle pourra être
      amenée à céder ou partager tout ou partie de ses actifs, y compris les
      données à caractère personnel. Dans ce cas, les utilisateurs seraient
      informés, avant que les données à caractère personnel ne soient transférées
      à une tierce partie.
  </p>
  <p class="larger-size">
      <strong>Politique de conservation des données :</strong>
  </p>
  <p>
      Le site PARPRO conserve vos données pour la durée nécessaire pour vous
      fournir ses services ou de vous fournir une assistance. Dans la mesure
      raisonnablement nécessaire ou requise pour satisfaire aux obligations
      légales ou réglementaires, régler des litiges, empêcher les fraudes et abus
      ou appliquer nos modalités et conditions, nous pouvons également conserver
      certaines de vos informations si nécessaire, même après que vous ayez fermé
      votre compte ou que nous n'avons plus besoin pour vous fournir des
      services. Les données sont conservées et utilisées pour une durée conforme
      à la législation en vigueur.
  </p>
  <p class="larger-size">
      <strong>Vos droits :</strong>
  </p>
  <p>
      En application de la réglementation applicable aux données à caractère
      personnel, les utilisateurs disposent des droits suivants :
  </p>
  <p>
      • Le droit d'accès : ils peuvent exercer leur droit d'accès, pour connaître
      les données personnelles les concernant. Dans ce cas, avant la mise en
      œuvre de ce droit, le site PARPRO peut demander une preuve de l'identité de
      l'utilisateur afin d'en vérifier l'exactitude.
  </p>
  <p>
      • Le droit de rectification : si les données à caractère personnel détenues
      par le site PARPRO sont inexactes, ils peuvent demander la mise à jour des
      informations.
  </p>
  <p>
      • Le droit de suppression des données : les utilisateurs peuvent demander
      la suppression de leurs données à caractère personnel, conformément aux
      lois applicables en matière de protection des données.
  </p>
  <p>
      • Le droit à la limitation du traitement : les utilisateurs peuvent  
      demander au site PARPRO de limiter le traitement des données personnelles
      conformément aux hypothèses prévues par le RGPD.
  </p>
  <p>
      • Le droit de s'opposer au traitement des données : les utilisateurs
      peuvent s'opposer à ce que ses données soient traitées conformément aux
      hypothèses prévues par le RGPD.
  </p>
  <p>
      • Le droit à la portabilité : ils peuvent réclamer que le site PARPRO leur
      remette les données personnelles qui lui sont fournies pour les transmettre
      à un nouveau site web.
  </p>
  <p>
      Vous pouvez exercer ce droit en nous contactant à l'adresse email suivante: <a href="mailto:dpo@parpro.fr">dpo@parpro.fr</a></p>
  <p>
      Toute demande doit être accompagnée de la photocopie d’un titre d'identité
      en cours de validité signé et faire mention de l'adresse à laquelle
      l'éditeur pourra contacter le demandeur. La réponse sera adressée dans le
      mois suivant la réception de la demande. Ce délai d’un mois peut être
      prolongé de deux mois si la complexité de la demande ou le nombre de
      demandes l'exigent.
  </p>
  <p>
      De plus, et depuis la loi n° 2016-1321 du 7 octobre 2016, les personnel qui
      le souhaitent, ont la possibilité d'organiser le sort de leurs données
      après leur décès. Pour plus d’information sur le sujet, vous pouvez
      consulter le site Internet de la CNIL : https://www.cnil.fr/.
  </p>
  <p>
      Les utilisateurs peuvent aussi introduire une réclamation auprès de la CNIL
      sur le site de la CNIL : www.cnil.fr.
  </p>
  <p>
      Nous vous recommandons de nous contacter dans un premier temps avant de
      déposer une réclamation auprès de la CNIL, car nous sommes à votre entière
      disposition pour régler votre problème.
  </p>
  <p class="larger-size">
      <strong>Sécurité et confidentialité :</strong>
  </p>
  <p>
      PARPRO met en œuvre des mesures organisationnelles, techniques, logicielles
      et physiques en matière de sécurité du numérique pour protéger les données
      personnelles contre les altérations, destructions et accès non autorisés.
      Toutefois, il est à signaler qu'internet n'est pas un environnement
      complètement sécurisé et PARPRO ne peut pas garantir la sécurité de la
      transmission ou du stockage des informations sur internet.
  </p>
  <p class="larger-size">
      <strong>Evolution de la présente clause :</strong>
  </p>
  <p>
      PARPRO se réserve le droit d'apporter toute modification à la présente
      clause relative à la protection des données à caractère personnel à tout
      moment. Si une modification est apportée à la présente clause de protection
      des données à caractère personnel, PARPRO s'engage à publier la nouvelle
      version sur son site. PARPRO informera les utilisateurs de la modification
      par messagerie électronique avant la date d'effet. Si l'utilisateur n'est
      pas d'accord avec les termes de la nouvelle rédaction de la clause de
      protection des données à caractère personnel, il a la possibilité de
      supprimer son compte.
  </p>
</div>
