<div class="col-md-8 more-info-description">
  <h2 class="title-about-pro">{{'professionnel' | translate}}</h2>
  <h4 class="strong">{{'savoir-plus-pro-1' | translate}}</h4>
  <p>
    {{'savoir-plus-pro-2' | translate}}<br> <br>
    {{'savoir-plus-pro-3' | translate}}<br>
    {{'savoir-plus-pro-4' | translate}}<br>
    {{'savoir-plus-pro-5' | translate}}<br><br>
    {{'savoir-plus-pro-6' | translate}}
  </p>
  <br>
  <div class="parpro-more-info">
    &bull; {{'savoir-plus-pro-7' | translate}}
  </div>
  <div class="parpro-more-info">
    &bull; {{'savoir-plus-pro-8' | translate}}
  </div>
  <div class="parpro-more-info">
    &bull;{{'savoir-plus-pro-9' | translate}}
  </div>
  <div class="parpro-more-info">
    &bull; {{'savoir-plus-pro-10' | translate}}
  </div>

  <p class="strong free-parpro">{{'savoir-plus-pro-11' | translate}}<br />{{'savoir-plus-pro-12' | translate}}</p>

  <a class="btn btn-primary btn-block"
    [routerLink]="['/register/professionnel']">{{'savoir-plus-pro-13' | translate}}</a>
</div>
<div class="user-img hidden-xs hidden-sm"></div>
